<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <add name="phonefixDBEntities" connectionString="metadata=res://*/PhoneFixModels.csdl|res://*/PhoneFixModels.ssdl|res://*/PhoneFixModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1R93USU;initial catalog=phonefixDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>